<header>
    <nav id="main-nav-bar" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand hidden-xs hidden-sm" href="/">
                    <img alt="" src="/img/logo.png">
                </a>
                <a class="navbar-brand hidden-lg hidden-md" href="/">
                    <img alt="" src="/img/logo.png">
                </a>
                <button class="navbar-toggle collapsed" data-target="#navigation" data-toggle="collapse" type="button">
                    <span class="fa fa-navicon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navigation">
                <ul id="main-nav" class="nav navbar-nav">
                    <li>
                        <a href="/viaggi">Viaggi</a>
                    </li>
                    <li>
                        <a href="/notiziario.pdf?20231107" target="_blank">Notiziario</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>