---
layout: page
title: 2012 Piemonte
permalink: /2012-piemonte
description:
ref: 2012-piemonte
---
<div class="gallery dark">
    <ul id="lightgallery" class="list-unstyled row" style="margin-left: 0px;">
        {% for image in site.static_files %}
            {% if image.path contains 'img/viaggi/2012-piemonte' %}
                <li class="col-xs-6 col-sm-4 col-md-3" data-responsive="{{ site.baseurl }}{{ image.path }}" data-src="{{ site.baseurl }}{{ image.path }}">
                    <a href="">
                        <img class="img-responsive" src="{{ site.baseurl }}{{ image.path }}">
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<script>
    lightGallery(document.getElementById('lightgallery'));
</script>